<h2>List of Participants</h2>

    <button type="button" class="btn btn-danger" (click)="showMale()">Male</button>
    <button type="button" class="btn btn-warning">Female</button>
    <button type="button" class="btn btn-success">All</button>
 

<ul class="list-group">
    <li *ngFor = "let participant of participants" class="list-group-item list-group-item-dark">
        <div class="float-start">{{participant.name}} </div>
        <div class="float-end bg-primary ">{{participant.age}} years old</div>
    </li>
    
  </ul>
